<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>資訊科學系 系學會 財務系統</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://www.hcy.idv.tw/cssa/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://www.hcy.idv.tw/cssa/css/scrolling-nav.css" rel="stylesheet">

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">資訊科學系 系學會 財務系統</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://www.hcy.idv.tw/cssa/#about">請款系統</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://www.hcy.idv.tw/cssa/#services">會費繳納</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://www.hcy.idv.tw/cssa/#contact">聯絡我</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://nas.hcy.idv.tw:8000/admin/">系統後台</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://nas.hcy.idv.tw:8000/">請款總表</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#apply">會費總表</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  <section id="apply" class="services-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h3>會費總表</h3>
              </div>
              <div class="table">
              <table class="table">
              <thead>
              <tr><th>姓名</th><th>學號</th><th>性別</th><th>付款方式</th><th>宿營意願</th><th>金額</th><th>狀態</th></tr>
              </thead>
              {% for i in pay %}
                  <tr>
                  <td>{{ i.name }}</td><td>{{ i.uid }}</td><td>{{ i.gender }}</td><td>{{ i.paymentway }}</td><td>{{ i.choicecamp }}</td>
                  <td>{{ i.money }}</td><td>{{ i.category }}</td>
                  </tr>
              {% endfor %}
              </table>
              </div>
              <div class="table">
              <table class="table">
              <thead>
              <tr><th>代碼</th><th>中文</th></tr>
              </thead>
                  <tr>
                  <td>0131</td><td>國泰世華商業銀行CUCB 轉帳</td>
                  </tr>
                  <tr>
                  <td>0132</td><td>國泰世華商業銀行CUCB 無摺存款</td>
                  </tr>
                  <tr>
                  <td>8221</td><td>中國信託CTBC 轉帳</td>
                  </tr>
                  <tr>
                  <td>8222</td><td>中國信託CTBC 無摺存款'</td>
                  </tr>
                  <tr>
                  <td>7001</td><td>中華郵政Chunghwa Post 轉帳</td>
                  </tr>
                  <tr>
                  <td>7002</td><td>中華郵政Chunghwa Post 無摺存款</td>
                  </tr>
                  <tr>
                  <td>9999</td><td>親自收款</td>
                  </tr>
              </table>
              </div>

          </div>
      </div>
  </section>





<script src="http://www.hcy.idv.tw/cssa/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://www.hcy.idv.tw/cssa/js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="http://www.hcy.idv.tw/cssa/js/jquery.easing.min.js"></script>
<script src="http://www.hcy.idv.tw/cssa/js/scrolling-nav.js"></script>
</body>
</html>
